<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Electric Foosball</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/general.css" rel="stylesheet">

    <script src="assets/js/jquery-1.7.1.js"></script>
    <script src="assets/js/underscore.js"></script>
    <script src="assets/js/backbone.js"></script>
    <script src="assets/js/mustache.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/js/app.js"></script>
  </head>
  <body class="starter">
    <div class="container clearfix">
      <div class="header">
        <h2 class="text-muted">Electric Foosball</h2>
      </div>
    </div>
  </body>
</html>
